footer {
    display: flex;
    align-items: end;
    justify-content: space-between;
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 30px 10%;
}

.footer__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__linksContainer {
    display: flex;
    gap: 10px;
}

footer span {
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer__container__text {
    display: none;
}

.footer__anchorContainer {

    display: flex;
    gap: 25px;
}

footer a {
    color: var(--light-color);
    font-weight: 600;
}


@media (max-width: 576px) {
    footer{
        align-items: start;
    }

    .footer__container__text {
        display: block;
    }

    .footer__linksContainer {
        flex-direction: column;
    }

    .footer__anchorContainer {
        flex-direction: column;
    }
}